{% extends 'base.html.twig' %}



{% block title %}Home{% endblock %}

{% block body %}


<div class="row">
{% for logement in logements %}
    <div class="col s3 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ asset('asset/picture/house.jpg') }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ logement.nom }}<i class="material-icons right">more_vert</i></span>
                <p><a href="{{ path('app_logement', {'id': logement.id}) }}"> Voir le logement </a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ logement.nom }}<i class="material-icons right">close</i></span>
                <p>{{ logement.description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

   
        


{% endblock %}


