{% extends 'base.html.twig' %}

{% block title %}Logement{% endblock %}

{% block body %}
<h1>{{logement.nom}}</h1>
<div class="row">
    <div class="col s7">
    
    <p>{{logement.description}}</p>
     <img style="width:100%;height:100%"  src="{{ asset('asset/picture/house.jpg') }}">
    </div>

    <div class="col s5 card-panel center ">
        <h3>Prix par nuit : {{logement.prixParNuit}} €</h3>
        
        <h4>Reservation</h4>

        {% if user %}
          {% if displayIndisponible %}
          <p class="red-text">❌ Logement indisponible sur cette periode ❌</p>
          {% endif %}
            {{ form_start(form) }}
                <div class="row">
                    <div class="col s6">
                    {{ form_row(form.DateDebut) }}
                    </div>
                     <div class="col s6">
                    {{ form_row(form.DateFin) }}
                    </div>
                </div>
            <div class="row">
            <button class="waves-effect waves-light btn" type="submit">Faire une réservation</button>
            </div>
            {{ form_end(form) }}
        {% else %}
            <p>Connecté vous pour faire une réservation</p>
            <a href="{{ path('app_login')}}">Connexion</a>
        {% endif %}

<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyAdczzsHX24nIf4I_6giOPezBCnZfHUJgM" 
          type="text/javascript"></script>
</head> 
<body>
  <div id="map" style="width:100%; height: 250px;"></div>
  <script type="text/javascript">
   
   

  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(48.8554638, 2.3605729),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
  
  </script>
</body>
</html>

  <script type="text/javascript">
    // Replace 'YOUR_API_KEY' with your actual Google Maps API key
const apiKey = 'AIzaSyAdczzsHX24nIf4I_6giOPezBCnZfHUJgM';

// Replace '1600 Amphitheatre Parkway, Mountain View, CA' with the address you want to convert
const address = "{{ logement.adresse }}, {{ logement.ville }}";

// Create a request URL for geocoding API
const geocodingUrl = `https://maps.googleapis.com/maps/api/geocode/json?address=${encodeURIComponent(address)}&key=${apiKey}`;


// Send a request to geocoding API
fetch(geocodingUrl)
  .then(response => response.json())
  .then(data => {
    if (data.status === 'OK') {
      const location = data.results[0].geometry.location;
      const latitude = location.lat;
      const longitude = location.lng;
      
       var locations = [
      ['<div class="col">' +
            '<p>{{ logement.adresse }}, {{ logement.ville }} </p>'+
        '</div>' +
    '</div>' +
'</div>', latitude, longitude,1],
      ];


    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: '{{ asset('asset/picture/home-icon.png') }}'
      });
      
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
      
    } else {
      console.log('Geocoding failed. Status:', data.status);
    }
  })
  .catch(error => {
    console.log('Error:', error);
  });

    
   
    </script>
        
    </div>
      
</div>



<div>
      <table>
        <thead>
          <tr>
              <th>Nombre de chambre</th>
              <th>Nombre de salles de bain</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{logement.nombreDeChambres}}</td>
            <td>{{logement.nombreDeSallesDeBain}}</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}
