{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_row(form.ville) }}
    <div class="row center"> 
        <button type="submit" class="btn">Recherche</button>
    </div>
{{ form_end(form) }}

{% for logement in logements %}
    <h3>{{ logement.nom }}</h3>
    <p>Ville : {{ logement.ville }}</p>
    <!-- Affichez les autres informations du logement -->
{% endfor %}

{% endblock %}
